.google {
  display: flex;
  align-items: center;
  justify-content: center;


}

.signIn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.custom-container {
  position: relative;
  top: 18vh;

}

.button-container {
  margin-left: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.button-custom {
  display: flex;
  /* width: 50%; */
  background-color: #49326b;
  color: #ffffff;
  font-size: 16px;
  font-weight: normal;
  border: none;
  border-radius: 5px;
  padding: 10px;
  transition: background-color 0.3s;
  text-align: center;
  /* margin: 10%; */
}

.button-custom:hover {
  background-color: #2f1f46;
}


.wraper {
  min-width: 200px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 20px;


}

.forgot-remember {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin: 0;
  padding: 0;

}

.link-forgot {
  color: #b27409;
}

.remember:checked {
  background-color: #b27409;
  border: 2px solid rgba(73, 50, 107, 0.5);
  box-shadow: 0 4px 6px rgba(73, 50, 107, 1);


}

.remember:hover {
  outline: none;
  box-shadow: none;
  box-shadow: none;
}

.remember:not(:checked) {
  border: 2px solid #49326b;
  /* הגדרת גבול כחול כהה */
  background-color: transparent;
  /* צבע רקע שקוף */
  outline: none;
}

.remember:checked {
  background-color: #b27409;
  /* צבע רקע חום כתום */
  border: 2px solid #49326b;
  /* גבול כחול כהה */
  box-shadow: 0 4px 6px rgba(73, 50, 107, 0.5);
  /* צל */
}



.remember:focus {
  outline: none;
  box-shadow: none;
  box-shadow: none;

}



.sign-in {
  min-width: 30%;
  margin: auto;
  background-color: #49326b;
  border: #2c2d2d solid 2px;
}

.sign-in:hover {
  background-color: #564969;
  border: #2c2d2d solid 2px;


}

.link-register {
  color: #b27409;
}



.input-custom:focus {
  box-shadow: 0 0 7px #49326b;
  border-color: #49326b;
}

.input-custom {
  border-radius: 5px;
  /* דוגמה לשדרוג */
  border: 2px solid #49326b;

}