

.page-wrapper {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100%; 
  width: 100;
   margin: 0;
padding: 0; 
}

.products-container {
    width: 68%;
      margin: auto; 
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center; 
      gap: 20px; 
    }
    