.tabs-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  position: fixed;
  margin-bottom: 0;
  left: 0;
}

.tabs {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  /* border-right: 2px solid #e0e0e0; */
  /* background-color: #f8f9fa; */
}

.tab-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #6c757d;
  padding: 15px;
  width: 70px;
  /* גודל קבוע לטאבים */
  text-align: left;
  transition: color 0.3s ease;
}

.tab-item.active {
  color: #2c2d2d;
  font-weight: bold;
  border-left: 2px solid #49326b;
  /* גבול שמדגיש את הטאב הפעיל */
  background-color: #f0f0f0;
}

.tab-item:hover {
  color: #422271;
  border: 2px solid #49326b;
  border-radius: 10px;
  ;
}

.tab-icon-img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  /* רווח בין האייקון לטקסט */
}

.tab-content {
  padding: 20px;
  font-size: 16px;
  text-align: center;
}