.tabs {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    border-bottom: 2px solid #e0e0e0;
  }
  
  .tab-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    color: #6c757d;
    padding: 20px; /* הגדלת הרווח מסביב */
    transition: color 0.3s ease;
    width: 100px; /* יצירת ריבועים */
    height: 120px; /* יצירת ריבועים */
    border: 2px solid transparent; /* הוספת גבול שקוף */
    border-radius: 10px;
    text-align: center;
  }
  
  .tab-item.active {
    color: #2c2d2d; /* צבע טאב פעיל */
    font-weight: bold;
    border: 2px solid #49326b; /* גבול כחול פעיל */
    background-color: #f8f9fa; /* רקע בהיר */
  }
  
  .tab-item:hover {
    color: #422271; /* צבע בהובר */
    background-color: #b27409; /* רקע כהה יותר בהובר */
  }
  
  .tab-icon-img {
    width: 40px; /* גודל האייקון */
    height: 40px; /* גודל האייקון */
    margin-bottom: 5px; /* רווח בין האייקון לטקסט */
  }
  
  .tab-content {
    padding: 20px;
    font-size: 16px;
    text-align: center;
  }
  