@font-face {
    font-family: 'HeaderFont';
    src: url("C:\\Users\\User\\Downloads\\delighted-beauty\\DelightedBDemoRegular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}


img{
    width: 500px;
    height: 500px;
    position: fixed;
    z-index: 2;
    top: 450px;
    left: 300px;
}
