body {
  background-color: #ededee;
}

.content {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.menu {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.app-container {
  background-image: url('');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}